@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}@keyframes pulse-2 {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.05);
	}
	100% {
	  transform: scale(1);
	}
  }@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}

	100%{
		transform: translateX(100%);
	}
}@keyframes animate2{
	0%{
		transform: translateY(-100%);
	}

	100%{
		transform: translateY(100%);
	}
}@keyframes animate3{
	0%{
		transform: translateX(100%);
	}

	100%{
		transform: translateX(-100%);
	}
}@keyframes animate4{
	0%{
		transform: translateY(100%);
	}

	100%{
		transform: translateY(-100%);
	}
}@keyframes notification-fill{
  /*notification timer fill 100% to 0%*/
  0%{
    width: 100%;
  }
  100%{
    width: 0%;
  }
}